body {
    font-family: arial, sans-serif;
}

.main-container {
    margin: 150px auto;
    width: 100vw;
    text-align: center;
}

.main-logo {
    padding: 30px;
}

.search {
    margin: 0 auto;
    width: 500px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid #d3d3d3f2;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

input{
    border: none;
    width: 480px;
}
input:focus-visible {
    outline: none;
}

.material-icons{
    opacity: 0.45;
}

.search-buttons {
    padding:20px;
}
.search-button:hover {
    border: 1px solid #bebebef2;
    border-radius: 4px;
    opacity: 1;
}

.search-button {
    margin: 5px 20px;
    padding: 8px;
    border: none;
    font-size: 14px;
    opacity: 0.65;
}

p#language-caption {
    font-size: 0.8rem;
}

li, .nav-list{
    display: flex;
    align-items: center;
    padding: 5px;
    font-size: 13px;
    
}

.nav-container {
    position: fixed;
    top: 10px;
    width: 100%;
}

ul.nav-list.nav-list-left {
    float: left;
    padding: 10px 6px;
}

ul.nav-list.nav-list-right {
    float: right;
    padding: 10px 6px;
}

a {
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

a:hover {
    text-decoration: underline;
}

a:hover, button:hover, #apps:hover{
    cursor: pointer;
}

button#sign-in-btn {
    background-color: #0066ffbf;
    color: white;
    padding: 5px 14px;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}
#apps-img {
    opacity: 0.5;
}

#apps-img:hover {
    opacity: 1;
}

.footer-nav {
    position: fixed;
    bottom: 10px;
    width: 100%;
    border-top: 0.5px solid rgba(143, 143, 143, 0.178);
}

.footer-nav li{
    font-size:14px;
    opacity:0.85;
    padding: 0 10px;
}