.main-container {
    margin: 200px auto;
    width: 100vw;
    text-align: center;
}

.main-logo {
    padding: 30px;
}

.search-box {
    text-align: center;
    padding: 25px 10px;
}

input[type="text"] {
    width: 500px;
    height: 34px;
    border-radius: 20px;
    border: 1px solid #d3d3d3f2;
}

input[type="text"]:focus-visible {
    outline: none;
}

.search-buttons {
    padding: 20px;
}
.search-button:hover {
    border: 1px solid #d3d3d3f2;
    border-radius: 4px;
}

.search-button {
    margin: 0 20px;
    padding: 8px;
    border: none;
}

p#language-caption {
    font-size: 0.8rem;
}

li, .nav-list{
    display: inline;
    padding: 5px;
}

.nav-container {
    position: fixed;
    top: 10px;
    width: 100%;
}

ul.nav-list.nav-list-left {
    float: left;
    padding: 10px 6px;
}

ul.nav-list.nav-list-right {
    float: right;
    padding: 10px 6px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    text-decoration: underline;
}